/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
} */

.about {
    margin: -20px;
    padding: 10px;
    height: 320px;
    background-image: url(picsone.jpg);
   
  }
  .about h2 {
    font-size: 44px;
    color: rgba(255, 255, 255, 0.711) ;
    font-family: "Poppins", sans-serif;

  }
  .about p {
    font-size: 28px;
    color:#333 ;
    font-family: "Quicksand", sans-serif;
    font-weight: 100;

  }
  