.projects {

    height: 700px;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;


  }
  
  .projects .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .projects .project {
    background: #f4f4f4;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    width: 30%;
  }
  
  .projects .project h3 {
    font-size: 20px;
  }
  
  .projects .project p {
    font-size: 16px;
    font-family: "Quicksand", sans-serif;

  }
  